.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  min-height: 100vh;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 1.5rem;
}

.img_con {
  width: 70px;
  height: 70px;
}

.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form_row input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.form_row input {
  min-height: 38px;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  outline: none;
}

.form_row input:hover {
  border-color: #b3b3b3;
}

.form_row input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.button_wrapper {
  display: flex;
  gap: 0.5rem;
}

.button_wrapper button {
  width: 100%;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #1b3443;
  border-radius: 4px;
  border: none;
  padding: 0.75rem 0;
  cursor: pointer;
}

.button_wrapper button:hover {
  background-color: #13aff0;
}

.button_wrapper .clear_btn {
  background-color: #808080;
}

.button_wrapper .clear_btn:hover {
  background-color: #2f2f2f;
}

.total_wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 16px;
}

.total,
.total_area {
  margin-right: 10px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}

.field_error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
}
