.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 1.5rem;
}

.img_con {
  width: 70px;
  height: 70px;
}

.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 3rem;
}

.blinking_colon {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.time_passed {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-top: 1rem;
  font-size: 18px;
}

.time_passed span {
  font-weight: 600;
  margin-right: 5px;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
