.modal_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 99;
}

.close_btn_wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close_btn {
  font-size: 30px;
  cursor: pointer;
  font-weight: 700;
  border: none;
  background-color: unset;
}

.modal {
  position: relative;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: 200px;
  width: 350px;
  font-size: 17px;
  line-height: 24px;
  background-color: #fff;
  border-radius: 13px;
}

.name {
  font-size: 24px;
  font-weight: 700;
}
