.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.digit {
  font-size: 14px;
}

.message {
  margin-top: 2rem;
  font-size: 1.25rem;
}
