.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 300px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 1.25rem;
  text-align: center;
}

.img_con {
  width: 70px;
  height: 70px;
}

.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 3rem;
}

.blinking_colon {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.spin_btn {
  width: 100%;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #1b3443;
  border-radius: 4px;
  border: none;
  padding: 0.75rem 0;
  cursor: pointer;
}

.spin_btn:hover {
  background-color: #13aff0;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}
