.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  gap: 2rem;
}

.players_scores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.played_player_data {
  padding: 0.5rem 1rem;
  border-radius: 13px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.content_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  width: 220px;
  text-align: center;
  font-size: 1.25rem;
}

.img_con {
  width: 70px;
  height: 70px;
}

.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form_row input:focus {
  outline: none;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
}

.form_row input {
  min-height: 38px;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  outline: none;
}

.form_row input:hover {
  border-color: #b3b3b3;
}

.form_row input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row label {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn_wrapper {
  display: flex;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.insert_btn,
.shoot_btn,
.calculate_btn,
.restart_btn {
  width: 100%;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #1b3443;
  border-radius: 4px;
  border: none;
  padding: 0.75rem 0;
  cursor: pointer;
}

.insert_btn:hover,
.shoot_btn:hover,
.calculate_btn:hover,
.restart_btn:hover {
  background-color: #13aff0;
}

.insert_btn:disabled,
.shoot_btn:disabled,
.calculate_btn:disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
}

.target_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  width: 350px;
  border-radius: 100%;
  border: 2px solid black;
  background-color: #f0ebf0;
  position: relative;
}

.first_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background-color: #012228;
}

.second_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #4ca6ea;
}

.third_circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #e62427;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #ffd827;
}

.result_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  width: 100%;
}

.result_wrapper h2 {
  font-size: 17px;
  letter-spacing: 1px;
}

.melon_data {
  display: flex;
  gap: 1rem;
}

.field_error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
}

.shot {
  position: absolute;
  background-color: green;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  transform: translate(-50%, -50%);
}
