.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 1rem;
}

.form_wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  max-width: 500px;
  width: 100%;
  padding: 1rem;
  border-radius: 9px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header h1 {
  font-size: 1.5rem;
  text-align: center;
}

.img_con {
  display: flex;
  width: 60px;
  height: 60px;
}

.img_con img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.form_wrapper h2 {
  font-size: 19px;
}

.flight_start_data {
  display: flex;
  gap: 1rem;
}

.form_row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.form_row input {
  min-height: 38px;
  font-size: 16px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 10px;
  outline: none;
}

.form_row input:hover {
  border-color: #b3b3b3;
}

.form_row input:focus {
  border-color: #2684ff;
  box-shadow: 0 0 0 1px #2684ff;
}

.form_row label {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.calculate_btn,
.clear_btn {
  width: 100%;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  background-color: #1b3443;
  border-radius: 4px;
  border: none;
  padding: 0.75rem 0;
  cursor: pointer;
}

.calculate_btn:hover {
  background-color: #13aff0;
}

.clear_btn {
  background-color: #808080;
}

.clear_btn:hover {
  background-color: #2f2f2f;
}

.field_error {
  color: red;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 0;
}

.landing_data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.landing_data p {
  font-size: 17px;
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .flight_start_data {
    flex-direction: column;
  }
}
